.container {
  width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
}

input::placeholder {
  color: #aa88aa;
  font-size: 16px;
  font-weight: 300;
}

.title-box {
  margin-bottom: 55px;
}

.title-box .title {
  font-size: 20px;
  font-weight: 500;
}

.title-box .desc-box .desc {
  font-size: 14px;
  font-weight: 300;
  color: #888;
  margin: 0;
}

.input-box {
  margin-bottom: 30px;
}

/* login-page */

.chats-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.chats-box .chats-title {
  font-size: 23px;
  font-weight: 500;
  text-align: left;
}

.chats-icon-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: end;
}

.chats-icon-box:nth-child(2):after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 2px;
  height: 15px;
  background-color: #333;
}

.chat-wrap {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 1fr;
}

.chat-wrap .kakao-icon {
  width: 50px;
  height: 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #fee200;
}

.chat-wrap .chat-box {
  text-align: left;
}

.chat-wrap .chat-box .chat-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 3px;
}

.chat-wrap .chat-box .chat-desc {
  color: #aa88aa;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  margin: 0;
}

.chat-wrap .chat-sub-box {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: right;
}

.chat-wrap .chat-sub-box .chat-sub-desc {
  font-size: 11px;
  margin: 0;
  margin-bottom: 5px;
  color: #aa88aa;
}

.chat-wrap .chat-sub-box .chat-sub-msg {
  font-size: 11px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 20px;
  display: flex;
  width: 20px;
  height: 20px;
  background: #ff5400;
  margin-left: auto;
}
